html, body {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 400;
  font-family: "input-mono", monospace;
  background-color: white;
  margin: 1rem;
  color: black;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

nav ul {
  font: "input-mono", monospace;
  font-weight: 800;
  list-style-type: none;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: right; 
}

nav li {
  display: inline-block;
  padding: 0;
  font-size: 1rem;
}

nav a {
  color: black;
  text-decoration: underline;
  padding: 0;
}

nav a:hover {
  color: rgb(0, 21, 253);
  text-decoration: underline;
}

h1 { 
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: rgb(0, 21, 253);
  text-decoration: underline;
}

figure {
  margin: 0;
}

figcaption {
  font: 0.5rem;
  font-weight: 300;
  line-height: 1.3;
  margin: 1rem;
  color: black;
}

.highlight {
  font-style: normal;
  padding: 0 5px;
  font-weight: 800;
  background-color: yellowgreen;
}

.highlight a { 
  color: black;
  text-decoration: underline;
  padding: 0;
}

.highlight a:hover {
  color: rgb(0, 21, 253);
  text-decoration: underline;
}

img {
  width: 100%;

}
article {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  clear: both;
  overflow: hidden;
}

article a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

article a:hover {
  text-decoration: none;
}

article a:hover img {
  /* filter: hue-rotate(90deg) saturate(200%) contrast(200%); */
  filter: grayscale(100%);
}

.floatLeft figcaption {
  font-size: 10px;
  font-style: italic;
  margin: 0;
}

@media (min-width: 850px) {
  .floatLeft {
    float: left;
    width: 50%;
    margin: 1rem 1rem 1rem 0;
  }
}

